// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 10px) {

    .gradient{
        display: none;
    }

}

@media (min-width: 576px) {

    .gradient{
        display: none;
    }


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .gradient{
        display: none;
    }


}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .gradient{
        display: block;
    }

    .box{
        width: 40%;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .gradient{
        display: block;
    }

    .box{
        width: 40%;
    }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

    .gradient{
        display: block;
    }

    .box{
        width: 40%;
    }

}