//theme colors

    //pink theme

        //input spec colors
            $pink-theme-color:#fd0df1;
            $pink-theme-color-soft:#e263dc;
            $pink-theme-color-transparent:#ee28e442;
            $pink-floating-label:#7a3277;

        //gradient colors
            $pink-theme-1:#FA80BF;
            $pink-theme-2:#DD71DE;
            $pink-theme-3:#D688F5;
            $pink-theme-4:#A171DE;
            $pink-theme-5:#9580FA;

    //green theme

        //input spec colors
            $green-theme-color:#198754;
            $green-theme-color-soft:#3caf79;
            $green-theme-color-transparent:#19875433;
            $green-floating-label:#234d39;
        
        //gradient colors
            $green-theme-1:#D2FD49;
            $green-theme-2:#85E342;
            $green-theme-3:#60FA54;
            $green-theme-4:#42E367;
            $green-theme-5:#49FDA5;

    //blue theme
        
        //input spec colors
            $blue-theme-color:#0d6efd;
            $blue-theme-color-soft:#427cd1;
            $blue-theme-color-transparent:#0d6dfd3d;
            $blue-floating-label:#2a456e;

        //gradient colors
            $blue-theme-1:#42D3FD;
            $blue-theme-2:#3B91E3;
            $blue-theme-3:#4D77FA;
            $blue-theme-4:#3D3BE3;
            $blue-theme-5:#7742FD;